body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(silver,white);
}

* {
    /* 设置列表元素的 marker（比如圆点、符号、或者自定义计数器样式）为none */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 对导航栏定义 */
.Daohang {
    /* 定位到左上角 */
    position: absolute;
    top: 20px;
    left: 20px;

}

.li ul li a:hover {
    color: #fff;
}

.shell {
    position: fixed;
    width: 280px;
    height: 650px;
    background-color: #8a98c9;
}

.buttons {
    margin: 60px 0;
    color: #fff;
}

.li {
    /* CSS 的 letter-spacing 属性用于设置文本字符的间距表现。 */
    letter-spacing: 2px;
    font: 600 17px '';
    padding: 16px 52px;
    transition: .3s;
}

.li::after {
    content: "";
    position: absolute;
    left: 20px;
    margin-top: -22px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.buttons>li:hover {
    background-color: #beb5df;
}

.li ul {
    width: 0;
    height: 530px;
    padding: 60px 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #59699b;
    transition: .3s;
}

.li ul li {
    padding: 16px 24px;
    transition: .3s;
}

.li:hover ul {
    width: 228px;
}

.li ul li:hover {
    background-color: #828cb9;
}


/* 下面是对hert的定义 */
.heart {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(9, 1fr);
}

.heart > * {
    width: 1em;
    height: 1em;
    /* border: 1px solid red; */
    font-size: 30px;
}

.heart dot {
    background-color: red;
    animation: animate 5s infinite ease-out;
    filter: opacity(0);
}

.heart dot:nth-of-type(2n) {
    animation-delay: 0.2s;
}

.heart dot:nth-of-type(3n) {
    animation-delay: 0.3s;
}

.heart dot:nth-of-type(4n) {
    animation-delay: 0.4s;
}

.heart dot:nth-of-type(5n) {
    animation-delay: 0.5s;
}

.heart dot:nth-of-type(6n) {
    animation-delay: 0.6s;
}

.heart dot:nth-of-type(7n) {
    animation-delay: 0.7s;
}

.heart dot:nth-of-type(8n) {
    animation-delay: 0.8s;
}

.heart dot:nth-of-type(9n) {
    animation-delay: 0.9s;
}

.heart dot:nth-of-type(10n) {
    animation-delay: 1.0s;
}

.heart dot:nth-of-type(11n) {
    animation-delay: 1.1s;
}

@keyframes animate {
    0% {
        transform: translateY(-10em);
        filter: opacity(0);
    }

    25%, 75% {
        transform: translateY(0);
        filter: opacity(1);
    }

    100% {
        transform: translateY(10em);
        filter: opacity(0);
    }
}
